@using MvcApplication1.Models;
@using System.Web;
@{
    ViewBag.Title = "Consultado";
    HttpRequestBase campos = (HttpRequestBase)ViewBag.campos;
}
<script type="text/javascript">
function IrPagina(pagina)
{
    $('#pagina').val(pagina);
    document.getElementsByTagName("form")[0].submit();
}
</script>
<h2>Consultado</h2>
<table width="100%">
<tr style="background-color:#5c87b2; color:#FFFFFF; font-weight:bold" align='center'>
<td>ID</td><td>Usuario creador</td><td>Usuario asignado</td><td>Fecha de creacion</td><td>Ultima Modificacion</td><td>Prioridad</td><td>Categoria</td><td>Estado</td>
</tr>
@foreach (Solicitudes sol in (List<Solicitudes>)ViewData["solicitudesFiltradas"])
{
<tr>
<td>@Html.ActionLink(sol.ID.ToString(), "Ver/" + sol.ID.ToString(), "Solicitud")</td><td>@sol.UsuarioCreador.Nombre</td><td>@sol.UsuarioTecnico.Nombre</td><td>@sol.FechaCreacion</td><td>@sol.UltimaModificacion</td><td>@sol.Prioridad</td><td>@sol.categoria.Nombre</td><td>@sol.estado.Nombre</td>
</tr>    
}
</table>
<p align='center' style='font-weight: bold;'>
@for (int i = 1; i <= int.Parse(ViewBag.paginas); i++) 
{
    <a href="javascript:IrPagina('@i')">@i</a>
}
</p>
@using (Html.BeginForm("Consultado","Solicitud"))
{
    for (int i = 0; i < 10; i++) 
    {
        @Html.Hidden(campos.Params.Keys[i], campos[campos.Params.Keys[i]])
    }
        @Html.Hidden("pagina", "");
}